django
django-filter
django-crispy-forms
django-guardian
django-extensions

djangorestframework
drf-extensions
drf-nested-routers
drfdocs
django-rest-swagger

django-oauth-toolkit

Markdown
bpython

django-debug-toolbar